body, html {
  background-color: rgb(177, 136, 230);
  margin: 0;
}
table, th, td {
  border: 1px solid black;
  }
table {
  background-color: rgb(128, 86, 177);
  color: black;
}
tr:nth-child(even) {
  background-color: rgb(198, 182, 243);
}
